
<div class="bg" >
  <div class="mx-auto pt-4 pb-3 d-none d-md-block d-lg-block" style="width:200px; padding:20%;">
      <img  src="../../assets/img/images/logo_slider_home@1x.png">
  </div>
      <nav class="navbar navbar-expand-lg navbar-dark ">

          <a class="navbar-brand  d-sm-block d-md-none pt-4" href="#"> <img src="../../assets/img/images/logo_slider_home@1x.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-light mx-auto mr-auto text uppercase font-weight-lighter">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OUT SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MY ACCOUNT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PL</a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="container text-center para mx-auto text-light col-md-6 ">
                 <h3 class="text-uppercase" > PAMPER YOURSELF PRETTY</h3>
                  <p class="pt-3 pb-5 col-md-11">
                    Treat yourself to one of our signature services. Our beloved beauty
                    experts will wow your brows,get your glowin'and so much more You'll
                    leave looking and feeling more gorgerous than ever before
                  </p>
                      <a class="header-button" href="#">I Reserve</a>
                  <div class="row">
                      <div class="col-12">
                          <div class="img-scroll">
                              <img  src="../../assets/img/images/ic_scroll@1x.png" alt="logo" >
                          </div>
                      </div>
                    </div>
</div>
