<footer class="bg6">
    <div class="container-fluid">
       <div class="row justify-content-md-center">
         <div class=" col-md-12 banner_content text-center mx-auto text-light d-flex justify-content-center  mb-3">
           <p>SUBSCRIBE TO OUR NEWS LETTER</p>
        </div>
         <div class="col-12 banner_content text-center mx-auto text-light d-flex justify-content-center  mb-3">
             <small><p>stay informed about us ,news and events</p></small>
         </div>
       </div>
       <div class="col-md-7 pt-5 mx-auto">
           <div class="input-group mb-3 style="width="100%" >
             <input type="text" class="form-control " placeholder="Enter your e-mail address"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
             <div class="input-group-append">
               <button type="button" class="btn btn-dark drk">Send</button>
             </div>
           </div>
         </div>
     </div>
     <div class="banner_content text-center header">
         <nav class="navbar navbar-expand-lg navbar-dark ">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav text-light mx-auto mr-auto text uppercase font-weight-lighter">
                   <li class="nav-item">
                       <a class="nav-link" href="#">OUT SERVICES<span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">MY ACCOUNT</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">PRO</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">CONTACT US</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="#">PL</a>
                   </li>

               </ul>
           </div>
       </nav>
       <div class="col-md-12 col-6 mx-auto pt-5">

           <img class="p-3" src="../../assets/img/images/ic_facebook@2x.png"   >
           <img class="p-3" src="../../assets/img/images/ic_twitter@2x.png" >
           <img class="p-3" src="../../assets/img/images/ic_youtube@2x.png" >

         </div>
   </div>
     </footer>
