<div id="slider" class="bg3">
    <div class="container">
      <div class="slide text-center">
        <h3>Tested APPROVED AND RECOMANDED BY</h3>
        <img  src="../../assets/img/images/title _line_category_1@1x.png"/>
        <h1>Capital</h1>
      </div>
      <div class="slide text-center">
        <h3>Tested APPROVED AND RECOMANDED BY</h3>
        <img  src="../../assets/img/images/title _line_category_1@1x.png"/>
        <h1>Capital</h1>
      </div>
      <div class="slide text-center">
        <h3>Tested APPROVED AND RECOMANDED BY</h3>
             <img  src="../../assets/img/images/title _line_category_2@1x.png"/>
             <h1>Capital</h1>
      </div>
      <div class="slide text-center">
          <h3>Tested APPROVED AND RECOMANDED BY</h3>
        <img  src="../../assets/img/images/title _line_category_1@1x.png"/>
        <h1>Capital</h1>
      </div>
      <div class="slide text-center">
          <h3>Tested APPROVED AND RECOMANDED BY</h3>
        <img  src="../../assets/img/images/title _line_category_1@1x.png"/>
        <h1>Capital</h1>
      </div>
    </div>
  </div>
